<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Appenders>
        <RollingFile name="fileLogger" fileName="${sys:logdir}/genesis-log.txt" filePattern="${sys:logdir}/genesis-log.txt_%d{yyyyMMdd}.log.gz">
            <ThresholdFilter level="INFO"/>
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [%c] (%F:%L) - %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>

        <Console name="console" target="SYSTEM_OUT">
            <ThresholdFilter level="DEBUG"/>
             <PatternLayout   pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [%c] (%F:%L) - %m%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info" additivity="false">
            <appender-ref ref="console" />
            <appender-ref ref="fileLogger" />
        </Root>
        <Logger name="genesis.license" level="debug" />
        <Logger name="xml" level="warn" />
        <Logger name="prelle.jfx" level="warn" />
        <Logger name="rpgframework" level="debug" />
        <Logger name="rpgframework.chars" level="info" />
        <Logger name="rpgframework.jfx"   level="info" />
        <Logger name="rpgframework.products" level="info" />
        <Logger name="splittermond" level="info" />
        <Logger name="shadowrun6" level="info" />
        <Logger name="shadowrun6.items" level="warn" />
        <Logger name="shadowrun6.proc.qual" level="info" />
<!--         <Logger name="shadowrun6.lvl" level="debug" /> -->
<!--         <Logger name="shadowrun6.proc" level="debug" /> -->
<!--         <Logger name="shadowrun6.jfx" level="info" /> -->
        <Logger name="shadowrun6.jfx.items" level="warn" />
        <Logger name="shadowrun6.gen" level="info" />
<!--         <Logger name="shadowrun6.gen.attrib" level="info" /> -->
<!--         <Logger name="shadowrun6.gen.skill" level="" /> -->
        <!-- Logger name="shadowrun6.items.proc" level="warn" /-->
        <Logger name="coriolis" level="info" />
        <Logger name="ubiquity" level="info" />
    </Loggers>
</Configuration>