name: Deploy to Windows Devel
on: [push]
#on:
#  push:
#    # Sequence of patterns matched against refs/tags
#    tags:
#    - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10
env:
  ACTIONS_ALLOW_UNSECURE_COMMANDS: true

jobs:
  deploy:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 14
      uses: actions/setup-java@v1
      with:
        java-version: 14
#    - uses: actions/cache@v1
#      with:
#        path: ~/.m2/repository
#        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
#        restore-keys: |
#          ${{ runner.os }}-maven-    
        
    - name: Set version
      run: echo "::set-env name=VERSION::$(cat Genesis\version.txt)"

#    - name: Package JAR distribution
#      env:
#        GITHUB_USERNAME: ${{ secrets.GITHUB_USERNAME }}
#        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#        GCLOUD_PWD_TOKEN: ${{ secrets.GCLOUD_PWD_TOKEN }}
#      run: cd Genesis ; ./gradlew distZIP --info
      
#    - name: Deploy ZIP
#      uses: garygrossgarten/github-action-scp@release
#      with:
#        local: "Genesis\\build\\distributions"
#        remote: "/var/www/html/genesis-builds/win"
#        host: euve265084.serverprofi24.de
#        username: github
#        password: ${{ secrets.DEPLOY_PASSWORD }}
    - name: Package runtime image
      run: | 
         cd Genesis
         ./gradlew -b build-developer.gradle jpackage -D"download.jpackage"=true  --refresh-dependencies
         dir build\jpackage
         echo version=$VERSION
    - name: Dir
      run: dir Genesis\build\jpackage
      
    - name: Deploy MSI
      uses: garygrossgarten/github-action-scp@release
      with:
        local: "Genesis\\build\\jpackage\\Genesis-Devel-${{env.VERSION}}.msi"
        remote: /var/www/html/genesis-builds/win/Genesis-Devel-${{env.VERSION}}.msi
        host: eden.rpgframework.de
        username: github
        password: ${{ secrets.DEPLOY_PASSWORD }}
      